*{
  font-family: 'Wix Madefor Text', sans-serif;
}

body{
    margin: 0;
    padding: 0;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px 20px 60px;
    position: fixed;
    width: calc(100% - 120px);
}

.header{
  padding: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 64px;
  padding-top: 128px;
}

.portrait{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
}

.content{
    margin-top: -64px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 64px;
    padding: 64px;
}