*{
  font-family: 'Wix Madefor Text', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-color: white;
}

a{
  text-decoration: none;
  color: black;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px 20px 60px;
    position: fixed;
    width: calc(100% - 120px);
}

.nav-links{
    display: flex;
    gap: 16px;
}

.navbar a{
  transition: all 0.3s ease;
}

.navbar a:hover{
  color: gray;
  text-decoration: underline;
}

.header{
  padding: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 64px;
  padding-top: 128px;
  margin-left: 10%;
  margin-right: 10%;
}

.portrait{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    aspect-ratio: 1 / 1;
    transform: translate(-10px, 10px);
}

.socials{
  font-size: 20px;
  display: flex;
  gap: 16px;
}

.social-button{
  transition: all 0.2s ease;
}

.social-button:hover{
  transform: scale(1.2);
  color: gray;
  cursor: pointer;
  filter: drop-shadow(0px 0px 8px rgba(0, 0, 0, 0.2));
}

.content{
    margin-top: -64px;
    margin-left: 10%;
    margin-right: 10%;
    gap: 64px;
    padding: 64px;
}

.tags{
  display: flex;
  gap: 8px;
}

.tag{
  font-size: 12px;
  padding: 8px 16px;
  border-radius: 16px;
  background-color: #f0f0f0;
}

#projects{
  margin-top: 64px;
}

.projects-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.projects-grid{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 32px;
  margin-bottom: 16px;
}

.project{
  display: flex;
  flex-direction: column;
}

#experience{
  margin-top: 64px;
}

#contact{
  margin-top: 64px;
}

@media (max-width: 768px) {
  .content {
    margin-left: 5%;
    margin-right: 5%;
    padding: 32px;
    gap: 32px;
  }

  .header {
    flex-direction: column;
    padding-top: 64px;
    margin-left: 0%;
    margin-right: 0%;
  }

  .navbar {
    padding: 10px 30px;
    width: calc(100% - 60px);
  }

  .portrait{
    width: 150px;
    height: 150px;
    margin-top: 32px;
    margin-bottom: -32px;
  }
}