@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: black;
}

@layer utilities {
  .transition-bg {
    transition: background-color 300ms;
  }
}

@import "@fontsource/geist-mono/400.css";
@import "@fontsource/geist-mono/500.css";

.font-geistmono {
  font-family: "Geist Mono", ui-monospace, SFMono-Regular, Menlo, Monaco,
    Consolas, "Liberation Mono", "Courier New", monospace;
}
